:root{
    --main: #042a2a;
    --sec: lightgray
}

body {
    background-color: var(--main);
    color: var(--sec);
    text-align: center;
}

.board {
    margin: auto;
    width: 350px;
}

button {
    color: var(--main);
    height: 100px;
    width: 100px;
    margin: calc(50px / 8);
    padding: 0;
    float: left;
    font-size: 3em;
    transition: 0.3s;
}

button:hover{
    background-color: var(--main);
    color: var(--sec);
}

#messages {
    font-size: 2em;
}