.app-bar {
  display: flex;
}

.app-bar__avatar {
  text-decoration: none;
  color: inherit;
}
//TODO: fix this
.app-bar__menu-button {
  margin-right: 2rem !important;
}

.app-bar__title {
  flex-grow: 1
}
